.nepszeruettermek {
    font-size: 22px;
}
/*.hero-bg {
  background-image: url("sectionhatter.jpg");
 background-repeat: no-repeat;
  background-size: 100% auto; 
  background-position: center;
  height: 180px; 
}*/
.hero-bg {
    background: url('hero.jpg') center/cover no-repeat;
    position: relative;
    color: white;
  }
  .hero-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.7));
  }
  .hero-bg .container {
    position: relative;
    z-index: 1;
  }

  /* Ikonokhoz */
  .why-icon {
    font-size: 40px;
    color: #ffc107;
  }
.custom-text{
  font-size: 25px;
}